altgraph==0.17.4
beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.3.2
idna==3.8
packaging==24.1
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
requests==2.32.3
setuptools==74.0.0
soupsieve==2.6
urllib3==2.2.2
